$bg-body: #ffffff;
$color-on-body: #000000;
$color-border: #dadce0;

$bg-sidebar: #ffffff;
$color-on-sidebar: #121212;

$color-muted: #52595f;
$color-primary: #15DC9B;
$color-primary-dark: #0cc285;
$color-secondary: #0063cd;
$color-secondary-dark: #001787;
$color-transparent: transparent;
$color-white: #ffffff;

$color-surface-outline: #dadce0;
$color-surface-1dp: #ffffff;

$font-dm-sans: "DM Sans", sans-serif;

$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-12: 12px;

$transition-sidebar: .2s ease-in-out;
$transition-cubic-bezier: all 0.3s cubic-bezier(.25, .8, .25, 1);
