@use "../abstracts/mixins" as m;

.btn {
  @include m.btn-body;

  &.btn-sm {
    padding: 4px;
    margin: 0;

    i {
      font-size: 18px;
    }
  }

  &.btn-primary {
    @include m.btn-filled($color-primary, $color-on-body);
  }

  &.btn-secondary {
    @include m.btn-filled($color-secondary, $color-primary);
  }

  &.btn-accent {
    @include m.btn-filled($color-dark, $color-white);
  }

  &.btn-link {
    @include m.btn-filled($color-primary, $color-transparent);
    text-decoration: underline;
  }
}
