.btn {
  padding: 8px;
  margin: 4px;
  background-color: $color-white;
  border-radius: $border-radius-6;
  font-family: $font-dm-sans;
  font-weight: 500;
  transition: $transition-cubic-bezier;


  &.btn-sm {
    padding: 4px;
    margin: 0;

    i {
      font-size: 18px;
    }
  }

  &.btn-primary {
    border: 3px solid $color-on-body;
    background-color: $color-primary;
    padding: 10px 30px;

    &:hover {
      background-color: $color-primary-dark;
      border-radius: $border-radius-12;
    }
  }

  &.btn-link {
    border: none;
    background-color: $color-transparent;

    &:hover {
      background-color: scale-color($color-primary, $alpha: -90%) !important;
    }
  }
}
